
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
}
.wrapper {
    position: relative;
    width: 1440px;
    height: 900px;

    background: #FFFFFF;
}
.rectangle__2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 150px;
    top: 145px;

    /* Dark 100% */
    background: #1F2041;
    border-radius: 6px;
}
.rectangle__2_1 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 150px;
    top: 235px;

    /* Dark 75% */
    background: rgba(31, 32, 65, 0.75);
    border-radius: 6px;
}
.rectangle__2_2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 149.74px;
    top: 324.56px;

    /* Dark 50% */
    background: rgba(31, 32, 65, 0.5);
    border-radius: 6px;
}
.rectangle__2_3 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 150px;
    top: 415px;

    /* Dark 25% */
    background: rgba(31, 32, 65, 0.25);
    border-radius: 6px;
}
.rectangle__2_4 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 150px;
    top: 505px;
    
    background: rgba(31, 32, 65, 0.05);
    border-radius: 6px;
}
.rectangle__2_5 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 150px;
    top: 595px;
    
    /* Primary Color */
    background: #BC9CFF;
    border-radius: 6px;
}
.rectangle__2_6 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 150px;
    top: 685px;
    
    /* Secondary Color */
    background: #6FCF97;
    border-radius: 6px;
}
.description {
    /* Dark Shade 100% #1F2041 */
    position: absolute;
    width: 171px;
    height: 56px;
    left: 260px;
    top: 152px;
}
.description_1 {
    /* Dark Shade 75% #1F2041 */
    position: absolute;
    width: 161px;
    height: 56px;
    left: 260px;
    top: 242px;
}
.description_2 {
    /* Dark Shade 50% #1F2041 */
    position: absolute;
    width: 162px;
    height: 56px;
    left: 260px;
    top: 332px;
}
.description_3 {
    /* Dark Shade 25% #1F2041 */

    position: absolute;
    width: 161px;
    height: 56px;
    left: 260px;
    top: 422px;
}
.description_4 {
    /* Dark Shade 5% #1F2041 */

    position: absolute;
    width: 149px;
    height: 56px;
    left: 260px;
    top: 512px;
}
.description_5 {
    /* Purple #BC9CFF */
    position: absolute;
    width: 91px;
    height: 56px;
    left: 260px;
    top: 602px;
}
.description_6 {
    /* Green #6FCF97 */

    position: absolute;
    width: 86px;
    height: 56px;
    left: 260px;
    top: 692px;
}
.description_style {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    /* align-items: center; */
    
    /* Dark 100% */
    
    color: #1F2041;
}
.another_fontsyle {
    font-family: Quciksand, sans-serif;
    font-weight: regular;
}
.font {
    /* H1 */

    position: absolute;
    width: 29px;
    height: 30px;
    left: 854px;
    top: 145px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: right;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
}
.font_1 {
    /* H2 */

    position: absolute;
    width: 27px;
    height: 24px;
    left: 856px;
    top: 255px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */

    text-align: right;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
}
.font_2 {
    /* H3 */

    position: absolute;
    width: 17px;
    height: 15px;
    left: 866px;
    top: 353px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: right;
    text-transform: uppercase;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
}
.font_3 {
    /* Body */

    position: absolute;
    width: 37px;
    height: 24px;
    left: 846px;
    top: 418px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: right;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
}
.desc {
    /* This one is the sub-section or widget title */

    position: absolute;
    width: 369px;
    height: 59px;
    left: 913px;
    top: 145px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    /* Dark 100% */

    color: #1F2041;
}
.desc_1 {
    /* Next one is the item title inside widgets */

    position: absolute;
    width: 312px;
    height: 47px;
    left: 913px;
    top: 255px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;

    /* Dark 100% */

    color: #1F2041;
}
.desc_2 {
    /* This is a label or CTA text */

    position: absolute;
    width: 186px;
    height: 15px;
    left: 913px;
    top: 353px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: #1F2041;
}
.desc_3 {
    /* This is the body text which is used for most of the design, like paragraphs, lists, etc. */

    position: absolute;
    width: 301px;
    height: 48px;
    left: 913px;
    top: 418px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    /* Dark 75% */

    color: rgba(31, 32, 65, 0.75);
}
.vektor {
    position: absolute;
    /* display: flex;
    flex-flow: row nowrap; */
    margin: 30px 0 0 30px;
}
.circle {
    /* Vector */

    position: absolute;
    width: 48px;
    height: 48px;
    /* left: 0;
    top: 0; */

    /* Dark 25% */

    background: rgba(31, 32, 65, 0.25);
    background: #FFFFFF;
}
.left_elem {
    /* display: block; */
    position: absolute;
    width: 14.12px;
    height: 14.12px;
    left: 11.29px;
    top: 18.35px;
    
    /* Dark 25% */
    
    background: rgba(31, 32, 65, 0.25);
    background: #FFFFFF;
}
.right_elem {
    /* display: block; */
    position: absolute;
    width: 10.94px;
    height: 7.09px;
    left: 24.77px;
    top: 18.35px;
    
    /* Dark 25% */
    
    background: rgba(31, 32, 65, 0.25);
    background: #FFFFFF;
}
